body{
	font-size: 16px;
	font-family: sans-serif;
}
h1{
	text-align: center;
}
#dificultad{
	font-size: 32px;
	margin: 30px 15%;
}
#ganador{
	font-size: 50px;
	margin: 30px 15%;
	color: green;
	text-align: center;
	font-weight: bolder;
}
#perdedor{
	font-size: 50px;
	margin: 30px 15%;
	color: red;
	text-align: center;
	font-weight: bolder;
}
#texto {
	font-size: 40px;
	margin: 30px 15%;
	text-align: center;

}
#reloj{
	font-size: 300px;
	margin: 30px 15%;
	color: gray;
	text-align: center;
	font-weight: bolder;
}
.opcion {
	margin: 8px;
}
.campo {
	margin: 50px 15%;
}
.facil{
	width: 350px;
	height: 350px;
	margin: 15px 31%;
	margin-top: 30px;
	display: block;
}
.dificil{
	width: 580px;
	height: 580px;
	margin: 15px 20%;
	margin-top: 30px;
	display: block;	
}
.cuadrante{
	width: 30px;
	height: 30px;
	background-color: silver;
	border: 1px solid black;
	display: inline-block;
	float: left;
	margin: 0;
	text-align: center;
	font-weight: bold;
	font-size: 29px;

}
img{
	width: 29px;
	height: 29px;
}
#1,#2,#3,#4,#5,#6,#7,#8{

	display: inline-block;
}